:root{
    --main-color:#ff9800;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
 /* start setting box */
.setting-box {
position: fixed;
left: -250px;
top: 0;
background-color: white;
width: 250px;
z-index: 1000;
min-height: 100vh;
transition: 0.4s;
}
.setting-box .toggel{
position: absolute;
right: -30px;
top: 100px;
background-color: white;
cursor: pointer;
}
.setting-box .toggel i{
padding: 8px 0;
width: 30px;
text-align: center;

}

.setting-box .option-box{
padding: 10px;
margin: 15px;
background-color: #9d9d9d;
text-align: center;

}
.setting-box .option-box h4{
margin: 0;
color: black;
font-weight: 900;
font-size: 14px;
}
.setting-box .option-box .colors-list{
list-style: none;
text-align: center;
padding: 0;
margin: 10px 0 0;
}
.setting-box .option-box .colors-list li{
width: 20px;
height: 20px;
background-color: black;
border-radius: 50%;
cursor: pointer;
opacity: 0.5;
display: inline-block;
}
.setting-box .option-box .colors-list li.active{
    opacity: 1;
border: 3px solid #FFF;
}

.setting-box .option-box .colors-list li:first-child{
background-color: #ff9800;
}
.setting-box .option-box .colors-list li:nth-child(2){
background-color:#e91e63 ;
}
.setting-box .option-box .colors-list li:nth-child(3){
background-color:#009688 ;
}
.setting-box .option-box .colors-list li:nth-child(4){
background-color:#03a9f4;

}
.setting-box .option-box .colors-list li:nth-child(5){
background-color:#4caf50 ;

}

.setting-box .option-box .yes,
.setting-box .option-box .no{
    margin-top: 10px;
    display: inline-block;
    background-color:var(--main-color) ;
    color: #FFF;
    width: 50px;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: 0.5;
    cursor: pointer;
}
.setting-box .option-box span.active {
opacity: 1;
}

.setting-box.open{
    left: 0;
}

.setting-box .reset-options{
    background-color: #f44336;
    border: none;
    width: 178px;
    display: block;
    margin: 10px auto;
    color: #FFF;
    font-weight: bold;
    padding: 10PX;
    border-radius: 4px;
cursor: pointer;
}

 /* end setting box */
  /* start nav bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;

}
.nav-bullets .nav-bullet {
width: 20px;
height: 20px;
border:  3px solid var(--main-color);
margin: 10px auto;
border-radius: 50%;
cursor: pointer;
    position: relative;
}
.nav-bullets .nav-bullet:hover .tooltib{
    display: block;
}

.nav-bullets .nav-bullet .tooltib {
background-color: var(--main-color);
width: 120px;
color: white;
padding: 8px 10px ;
position: absolute;
right: 32px;
top: -10px;
text-align: center;
cursor: default;
pointer-events: none;
display: none;
}

.nav-bullets .nav-bullet .tooltib::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color:  transparent  transparent transparent var(--main-color);
    position: absolute;
    right:-20px;
    top: 50%;
    transform: translateY(-50%);
}

  /* end nav bullets */
/* start landeing */
.landing-page{
    min-height: 100vh;
    background-image: url(../iamge/download\ \(8\).jpg);
    background-size: cover;
    position: relative;
}
.landing-page .overlay{
background-color: rgb(0 0 0 / 49%);
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 1;
}
.landing-page .container{
position: relative;
z-index: 1000;
}
.header-eraa{
    position: relative;
    z-index: 2; 
    color: white;
    display: flex;
padding: 10px;
    justify-content: space-between;
}
.header-eraa .logo{
width: 300px ;
padding: 15px;
font-weight: bold;
font-size: 20px;
color: var(--main-color
);
}
.links-container {
    width: 100%;
    text-align: right; 
}
.header-eraa .links{
list-style: none;
padding-left: 0;
}
.header-eraa .links li{
display: inline-block;
margin-left: 10px;
}
.header-eraa .links li a{
    text-decoration: none;
    color: white;
transition: 0.3s;
font-weight: bold;
font-size: 15px;
}
.header-eraa .links li a:hover,
.header-eraa .links li a.active {
color: var(--main-color);
}

.header-eraa .toggle-menu {
background: none;
border: none;
width: 40px;
cursor: pointer;
margin-top: 15px;
display: none;
position: relative;
}
.header-eraa .toggle-menu:focus { 
    outline: none;
}
.header-eraa .toggle-menu.menu-active::before { 
content: "";
border-width:10px ;
border-style: solid;
position: absolute;
border-color: transparent transparent #fff transparent;
bottom: -15px;
left: 10px;

}
.header-eraa .toggle-menu span {
display: block;
background-color: #FFF;
height: 4px;
margin-bottom: 4px;
}


.text{
        position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    width: 95%;
}
@media(max-width: 575px){
.text h1{
font-size: 26px
}
}
.text h1 {
font-size: 34px;
margin: 0 0 12px;
}
.text h1 span {
color: var(--main-color);
}
.text p{
line-height: 1.6;
font-size: 20px;
}


@media(max-width: 991px){
.header-eraa .links{
display: none;
}

.header-eraa .links.open {
background-color: #FFF;
padding: 10px;
display: block;
position: absolute;
left: 0;
top: 50px;
width: 100%;
border-radius: 4px;
}

.header-eraa .links.open li a{
color: var(--main-color);
font-weight: bold;
}

.header-eraa .links.open li {
color: var(--main-color);
font-weight: bold;
display: block;
margin: 10px;

}
.header-eraa .toggle-menu {
display: inline-block;
}
}
/* end landeing */
/* start about us */
.about-us {
padding-top: 50px;
padding-bottom: 50px;

}
.about-us .container{
    display: flex;
}

@media(max-width:767px){
.about-us .container{
display: block;
text-align: center;
}
}
.about-us .info-box {
flex: 1;
padding: 30px;
}
@media(max-width:767px){
.about-us .info-box{
padding: 0;
padding-bottom: 15px;
}
}
.about-us .info-box h2 {
font-weight: bold;
font-size: 30px;
color: var(--main-color);
    margin: 0 0 10px ;
}
.about-us .info-box p {
    line-height: 1.8;
color: #767676;
margin: 0;

}
.about-us .image-box {
flex: 1;
text-align: center;
}
.about-us .image-box img {
width: 250px;
}
/* end about us */
/* start skiils */
.skills {
padding-top: 50px;
padding-bottom: 50px;
background-color: #eee
;
}

.skills h2 {
font-weight: bold;
font-size: 30px;
color: var(--main-color);
    margin: 0 0 50px ;
    text-align: center;
}
.skills .skill-box {
background-color: #fff;
display: flex;
padding: 15px;
margin-bottom: 15px;
line-height: 30px;
}
@media(max-width: 767px){
.skills .skill-box{
display: block;
}
}
.skills .skill-box .name { 
font-weight: bold;
width: 140px;
text-align: center;
}
@media(max-width: 767px){
.skills .skill-box .name{
width: 100%;
margin-bottom: 15px;
}
}
.skills .skill-box .skill-progress {
height: 30px;
width: calc(100% - 110px);
background-color: #f6f6f6;
border-radius: 6px;
position: relative;
overflow: hidden;
}
@media(max-width: 767px){
.skills .skill-box .skill-progress {
width: 100%;

}
}
.skills .skill-box .skill-progress span {
position: absolute;
left: 0;
top: 0;
width: 0;
height: 100%;
background-color: var(--main-color);
transition: all 0.5s;
}

/* end skiils */

/* start gallery */
.gallery{
padding-top: 50px;
padding-bottom: 50px;
}

.gallery h2{
font-weight: bold;
font-size: 30px;
color: var(--main-color);
    margin: 0 0 50px ;
    text-align: center;
}

.gallery .images-box{
text-align: center;

}

.gallery .images-box img{
width: 200px;
height: 120px;
padding: 3px;
background-color: #f6f6f6;
border: 1px solid #ccc;
margin: 5px;
cursor: pointer;
}

.popup-overlay {
position: fixed;
background-color: rgba(0, 0, 0, .7);
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 1000;
}
.popup-box {
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 2000;
}
.popup-box h3{
font-weight: bold;
text-align: center;
margin: 0 0 20px;
color: var(--main-color);


}
.popup-box img{
    max-width: 100%;
}
.close-button{
position: absolute;
background-color: var(--main-color);
top: -15px;
right: -15px;
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
color: white;
font-weight: bold;
border-radius: 10px;
cursor: pointer;
}



/* end gallery */

/* start timeline */
.timeline{
    padding-top: 50px;
padding-bottom: 50px;
background-color: #eee;
}
 

.timeline .timeline-content {
position: relative;
overflow: hidden;

}
.timeline .timeline-content::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}
.timeline .timeline-content .year{
margin: 20px auto;
background-color: var(--main-color);
width: 50px;
position: relative;
z-index: 2;
border-radius:4px ;
color: #fff;
padding: 2px 5px;
text-align: center;
font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
width: calc(50% - 25px);
margin-bottom: 40px;
position: relative;

}
@media (max-width: 768px) { 
.timeline .timeline-content .left,
.timeline .timeline-content .right {
width: 100%;
margin-bottom: 20px;
    }
}
@media (max-width: 768px) { 
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
    display: none;
}
}
@media (max-width: 768px) { 
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
    display: none;
}
}
.timeline .timeline-content .left::before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    right: -35px;
    top: 20px;
    position: absolute;
}

.timeline .timeline-content .right {
    float: right;
}
.timeline .timeline-content .right::before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    left:-35px;
    top: 20px;
    position: absolute;
}

.timeline .timeline-content .content{
padding: 20px;
background-color: white;

}

.timeline .timeline-content .content h3{
font-weight: bold;
color: var(--main-color);
margin: 0 0 10px;
}

.timeline .timeline-content .content p{
color: #666;
line-height: 1.6;
display: n;
}

.clear-fix {
    clear: both;
}

.timeline .timeline-content .left .content::before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 20px;
}
.timeline .timeline-content .right .content::before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent var(--main-color) transparent transparent ;
    height: 0;
    width: 0;
    position: absolute;
    left: -20px;
    top: 20px;
}
/* end timeline */
/* start features  */
.features {
    padding-top: 80px;
padding-bottom: 80px;
}
.features h2 {
    font-weight: bold;
font-size: 30px;
color: var(--main-color);
    margin: 0 0 50px ;
    text-align: center;
    padding-bottom: 80px;
}
.features .feat-box{
    width: calc(100% / 3);
    float: left;
    text-align: center;
margin-bottom: 40px;
}
@media (max-width: 991px) { 
.features .feat-box{
    width: calc(100% / 2);
}
}
@media (max-width: 575px) { 
.features .feat-box{
    width: 100%;
}
}
.features .feat-box img {
    width: 96px;
    border-radius: 50%;
}
.features .feat-box h4 {
font-size: 22px;
margin: 15px 0 40px;
position: relative;
}
.features .feat-box h4::before {
content: "";
width: 40px;
height: 4px;
background-color: var(--main-color);
position: absolute;
left: 50%;
margin-left: -20px;
bottom: -22px;

}
    .features .feat-box p {   
width: 80%;
margin: 0 auto;
line-height: 1.7;
color: #706f6f;
    }


/* END features  */
    /* <!-- start testimonials --> */
.testimonials{
position: relative;
padding-top: 80px;
padding-bottom: 80px;
}
.testimonials:before {
    content: "";
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}
.testimonials:after {
    content: "";
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    height: 100%;
}

.testimonials h2 {
    font-weight: bold;
font-size: 30px;
color: white;
    margin: 0 0 50px ;
    text-align: left;
position: relative;
z-index: 2;
}
@media (max-width: 767px) { 
.testimonials h2 {
text-align: center;
}
}
.testimonials .ts-box{
position: relative;
z-index: 2;
width: calc(( 98% / 3));
float: left;
background-color: white;
padding: 20PX;

}
@media (max-width: 767px) { 
.testimonials .ts-box{
width: 100%;
float: none;
margin-bottom: 15px;
}
}
.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}
.testimonials .ts-box > p {
margin: 0 0 20px;
line-height: 1.5;
font-size: 18px;
color: #707070;
font-style: italic;

}
.testimonials .ts-box .person-info {
overflow: hidden;

}
@media (max-width: 991px) { 
.testimonials .ts-box .person-info {
text-align: center;
overflow: visible;
}
}
.testimonials .ts-box .person-info img {
float: left;
border-radius: 50%;
margin-right: 10px;
width: 100PX;
}
@media (max-width: 991px) { 
.testimonials .ts-box .person-info img {
float: none;
margin-right: 0;

}
}
.testimonials .ts-box .person-info h4 {
margin: 14px 0 5px;
}
.testimonials .ts-box .person-info p {
color: #707070;
margin: 0;
}


    /* <!-- end testimonials --> */
    /* start contact us */

    .contact{
min-height: 600px;
background-image: url(../iamge/download.jpg);
background-size: cover;
padding-top: 80px;
padding-bottom: 80px;
position: relative;

    }

    .contact .overlay{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, .6);

    }
.contact .container{
position: relative;
    z-index: 2;
}

.contact h2 {
    font-weight: bold;
font-size: 30px;
color: var(--main-color);
    margin: 0 0 60px ;
    text-align: center;
}

.contact form {
overflow: hidden;
max-width: 800px;
margin: auto;
}
.contact form .left{
    float: left;
    width: 49%;
}
.contact form .right{
    float: right;
    width: 49%;
}
@media (max-width: 767px) { 
.contact form .left,
.contact form .right{
width: 100%;
float: none;
}
}
@media (max-width: 767px) { 
.contact form .right{

}
}
.contact form input:not([type="submit"]),
.contact form textarea{
display: block;
width: 100%;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;

background-color: rgba(218, 218, 218, 0.19);
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus{
outline: 1px solid var(--main-color);
}

.contact form input{
    height: 40px;
}

.contact form textarea{
    height: 150px;
}

.contact form input[type="submit"]{
padding: 10px;
width: 100%;
border-color: transparent;
background-color: var(--main-color);
color: white;
cursor: pointer;

}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder
{
 opacity: 0;
 transition: 0.3s;
}
    /* end contact us */

    /* start footer  */
.footer{
background-color: black;
color: white;
text-align: center;
padding: 20px;


}



    /* end footer  */


/* start grid system */
@media (min-width: 576px) {  /*phones*/

    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px) {  /*tablets*/

    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px) {  /*pc*/

    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px) {  /*large screens*/

    .container{
        max-width: 1140px;
    }
}




/* end grid system */